python-dotenv
fastapi
uvicorn
google-adk
streamlit
pydantic
#sentence-transformers
google-adk[eval]
# google-adk[database]
psycopg2-binary
SQLAlchemy
qdrant-client
python-docx
#transformers
fastembed
opik

